#calculadora {
    background-color: aqua;
    border-radius: 5px;
    padding: 1em;
    width: fit-content;
}

.numero {
    text-align: right;
}

.boton {
    margin: 10px;
    text-align: center;
}